name: .NET Core

on: [push]

jobs:
  build:

    runs-on: [ubuntu-latest] 

    steps:
    - uses: actions/checkout@v1
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
      with:
        dotnet-version: 3.0.102
    - run: msbuild /restore /p:Configuration=Release

    #- name: Build with dotnet
    #  run: msbuild /build --configuration Release
    
  release:
    runs-on: [ubuntu-latest]
    steps:
      - name: Automatic Releases
      - uses: marvinpinto/action-automatic-releases@v0.2.2
#  			with:
  				repo_token: "${{ secrets.GITHUB_TOKEN }}"
    		# Git tag (for automatic releases)
    			#aautomatic_release_tag: # optional
    # Should this release be marked as a draft?
    			#draft: # optional
    # Should this release be marked as a pre-release?
    			#prerelease: # optional, default is true
    # Release title (for automatic releases)
    			#title: # optional
    # Assets to upload to the release
    			#files: # optional
        
