name: .NET Core

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
      with:
        dotnet-version: 3.0.102
    - run: msbuild restore

    - name: Build with dotnet
      run: msbuild build --configuration Release
